<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016084826310-d00jthj6qoov72dunbmtkvh55prr05kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016084826310-d00jthj6qoov72dunbmtkvh55prr05kr</string>
	<key>API_KEY</key>
	<string>AIzaSyDAv2AJdJyWGWQ4igEKlDJ2M10pRtH8xIo</string>
	<key>GCM_SENDER_ID</key>
	<string>1016084826310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fredo.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-ff3e2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ff3e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016084826310:ios:ced1a5850a397ae5a56fc7</string>
</dict>
</plist>